In [ ]:
import pandas as pd #used for handling the dataset
import numpy as np #used for handling numbers
from sklearn.impute import SimpleImputer #used for handling missing data
from scipy import stats #for t-test
from sklearn.preprocessing import LabelEncoder, OneHotEncoder #used for encoding categorical data
from sklearn.model_selection import train_test_split #used for splitting training and testing data
from sklearn.preprocessing import StandardScaler #used for feature scaling
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn import metrics
from IPython.display import FileLink
from sklearn import preprocessing

In [ ]:
#first dataset-forest dataset
forest = pd.read_csv('FAOSTAT.csv')
display(forest.head())

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RL,Land Use,4,Afghanistan,5110,Area,6602,Agriculture,1990,1990,1000 ha,38040.0,I,Imputed value
1,RL,Land Use,4,Afghanistan,5110,Area,6602,Agriculture,1991,1991,1000 ha,38030.0,I,Imputed value
2,RL,Land Use,4,Afghanistan,5110,Area,6602,Agriculture,1992,1992,1000 ha,38030.0,I,Imputed value
3,RL,Land Use,4,Afghanistan,5110,Area,6602,Agriculture,1993,1993,1000 ha,37934.0,I,Imputed value
4,RL,Land Use,4,Afghanistan,5110,Area,6602,Agriculture,1994,1994,1000 ha,37813.0,I,Imputed value

In [ ]:
#second dataset- redlist dataset
red_list = pd.read_csv('RED_LIST.csv')
display(red_list.head())

,COU,Country,VAR,Variable - Red List,YEA,Year,Value,Flag Codes,Flags
0,WLD,World,INDEX,Red List Index,2001,2001,0.794,NaN,NaN
1,WLD,World,INDEX,Red List Index,2002,2002,0.791,NaN,NaN
2,WLD,World,INDEX,Red List Index,2003,2003,0.787,NaN,NaN
3,WLD,World,INDEX,Red List Index,2004,2004,0.784,NaN,NaN
4,WLD,World,INDEX,Red List Index,2005,2005,0.781,NaN,NaN

In [ ]:
new1 = forest.copy()
new2 =  red_list.copy()
np.array1=[]
np.array2=[]
np.array1=(new1["Area"].unique())
np.array2=(new2["Country"].unique())
series1=pd.Series(np.array1)
series2=pd.Series(np.array2)
#display(new1)

In [ ]:
#Checking uncommon data from each dataset
non_unique=series1[~series1.isin(series2)].unique()
value_to_delete=np.array(non_unique)
print(len(value_to_delete))

37

In [ ]:
#forest dataset
new3= new1[new1.Area.isin(value_to_delete) == False]
#print(len(new3))
#print(new3.head())
print("number of unique Domain, country: ", new3["Area"].nunique())

number of unique Domain, country:  209

In [ ]:
np.array3=[]
np.array4=[]
np.array3=(new3["Area"].unique())
np.array4=(new2["Country"].unique())
series1=pd.Series(np.array1)
series2=pd.Series(np.array2)
#print(new1)
non_unique2=series2[~series2.isin(series1)].unique()
value_to_delete2=np.array(non_unique2)
print(value_to_delete2)

['World' 'Hong Kong, China' 'Wallis and Futuna' 'Saint Helena'
 'Palestinian Authority or West Bank and Gaza Strip' 'Venezuela'
 'Sint Maarten' 'United Kingdom' 'Svalbard and Jan Mayen'
 'Christmas Islands' 'Russia' 'Cocos (Keeling) Islands' 'French Guiana'
 'Slovak Republic' 'Czech Republic' 'Faeroe Islands'
 'Heard Island and McDonald Islands' 'Bolivia'
 'South Georgia and the South Sandwich Islands'
 "China (People's Republic of)" 'Korea' 'South Sudan ' 'Micronesia' 'Iran'
 'Curacao' 'Saint Martin' 'British Indian Ocean Territory' 'Moldova'
 'United States' 'Åland' 'Tanzania']

In [ ]:
#redlist dataset
new4= new2[new2.Country.isin(value_to_delete2) == False]
#print(len(new4))
#print(new4.head())
print("number of unique Domain, country: ", new4["Country"].nunique())

number of unique Domain, country:  209

In [ ]:
year_to_delete = [1990, 1991 ,1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,2021]
final_redlist= new4[new4.Year.isin(year_to_delete) == False]
print(len(final_redlist))
#print(final_redlist.head())
print("number of unique Domain, country: ", final_redlist["Year"].nunique())
print("number of unique Domain, country: ", final_redlist["Country"].nunique())

12540
number of unique Domain, country:  20
number of unique Domain, country:  209

In [ ]:
final_forest= new3[new3.Year.isin(year_to_delete) == False]
print(len(final_forest))
#print(final_forest.head())
print("number of unique Domain, country: ", final_forest["Year"].nunique())
print("number of unique Domain, country: ", final_forest["Area"].nunique())

27793
number of unique Domain, country:  20
number of unique Domain, country:  209

In [ ]:
new_forest=final_forest.loc[final_forest['Item']=='Forest land',['Area', 'Item', 'Value','Year']]
new_forest = new_forest.rename(columns={'Area' :'Country'})
display(new_forest.head())

         Country         Item    Value  Year
104  Afghanistan  Forest land  1208.44  2001
105  Afghanistan  Forest land  1208.44  2002
106  Afghanistan  Forest land  1208.44  2003
107  Afghanistan  Forest land  1208.44  2004
108  Afghanistan  Forest land  1208.44  2005

In [ ]:
new_redlist=final_redlist.loc[final_redlist['Variable - Red List']=='Red List Index',['Country','Variable - Red List', 'Value','Year']]
display(new_redlist.head())

          Country Variable - Red List  Value  Year
63  Liechtenstein      Red List Index  0.991  2001
64  Liechtenstein      Red List Index  0.991  2002
65  Liechtenstein      Red List Index  0.991  2003
66  Liechtenstein      Red List Index  0.991  2004
67  Liechtenstein      Red List Index  0.991  2005

In [ ]:
df_forest_with_redlist = new_forest.copy()
display(df_forest_with_redlist)

           Country         Item    Value  Year
104    Afghanistan  Forest land  1208.44  2001
105    Afghanistan  Forest land  1208.44  2002
106    Afghanistan  Forest land  1208.44  2003
107    Afghanistan  Forest land  1208.44  2004
108    Afghanistan  Forest land  1208.44  2005
...            ...          ...      ...   ...
47534     Zimbabwe  Forest land  1114.85  2016
47535     Zimbabwe  Forest land  1004.86  2017
47536     Zimbabwe  Forest land  1002.22  2018
47537     Zimbabwe  Forest land   999.59  2019
47538     Zimbabwe  Forest land   996.78  2020

[7878 rows x 4 columns]

In [ ]:
# create a new column with default value of 0
df_forest_with_redlist['redlist'] = 0.0

for index, row in df_forest_with_redlist.iterrows():
    # add a value to the new column based on some condition
    country= row['Country']
    year = row['Year']
    # print(year)
    valueOfRedlist = new_redlist.loc[(new_redlist['Year'] == year) &(new_redlist['Country'] == country), 'Value']
    key = list(valueOfRedlist.keys())[0]
    value = valueOfRedlist[key]
#     print(country, year, key, value, index)

    df_forest_with_redlist.at[index, 'redlist'] = value



# afgan = df_forest_with_redlist.loc[(df_forest_with_redlist['Country'] == 'Afghanistan')]
# display(afgan)

In [ ]:
display(df_forest_with_redlist.head())

         Country         Item    Value  Year  redlist
104  Afghanistan  Forest land  1208.44  2001    0.838
105  Afghanistan  Forest land  1208.44  2002    0.837
106  Afghanistan  Forest land  1208.44  2003    0.837
107  Afghanistan  Forest land  1208.44  2004    0.837
108  Afghanistan  Forest land  1208.44  2005    0.837

In [ ]:
# display(df_forest_with_redlist)

df_forest_with_redlist = df_forest_with_redlist[(df_forest_with_redlist != 0).all(1)]
if (df_forest_with_redlist == 0).any().any():
    print("There is at least one zero value in the dataframe")
else:
    print("There are no zero values in the dataframe")

num_rows = df_forest_with_redlist.shape[0]
print(num_rows)

There are no zero values in the dataframe
7578

In [ ]:
column_values = new_redlist['Country'].unique()

meanfarray=[]
for i in column_values:
    redmean4=new_redlist.loc[new_redlist['Country'] == i, ['Country','Year','Variable - Red List','Value']]
    meanfarray.append(redmean4)
#print(meanfarray)
    #print(redmean4.head())
    #print(redmean4['Year'])

In [ ]:
le = preprocessing.LabelEncoder()
entity = ['Country']
# for var in entity:
#     data[var] = le.fit_transform(data[var])
df_forest_with_redlist['Country'] = le.fit_transform(df_forest_with_redlist['Country'])

# Linear Regression

In [ ]:
#Linear Regression with year, country, value
dataset_x= df_forest_with_redlist[['Year','Country','Value']];
dataset_y=df_forest_with_redlist['redlist']

x_train, x_test, y_train, y_test = train_test_split(dataset_x, dataset_y, test_size = 0.2)

lr = LinearRegression()
lr.fit(x_train, y_train)

y_pred = lr.predict(x_test)

print("MAe", metrics.mean_absolute_error(y_test,y_pred))
print("Mse", metrics.mean_squared_error(y_test,y_pred))
print("RMSE", np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

print('r2 value', metrics.r2_score(y_test,y_pred))

#Use statsmodel for model summary
x = sm.add_constant(dataset_x)
model = sm.OLS(dataset_y, dataset_x).fit()
predictions = model.predict(dataset_x)
print_model = model.summary()
print(print_model)

MAe 0.08189728964511676
Mse 0.010591926911433172
RMSE 0.10291708755805895
r2 value 0.005743313710920184
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                redlist   R-squared (uncentered):                   0.985
Model:                            OLS   Adj. R-squared (uncentered):              0.985
Method:                 Least Squares   F-statistic:                          1.715e+05
Date:                Sat, 29 Apr 2023   Prob (F-statistic):                        0.00
Time:                        18:21:28   Log-Likelihood:                          6438.2
No. Observations:                7578   AIC:                                 -1.287e+04
Df Residuals:                    7575   BIC:                                 -1.285e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Year           0.0004   1.22e-06    351.650      0.000       0.000       0.000
Country    -7.601e-05   2.07e-05     -3.673      0.000      -0.000   -3.54e-05
Value       1.117e-07   3.44e-08      3.248      0.001    4.43e-08    1.79e-07
==============================================================================
Omnibus:                      925.984   Durbin-Watson:                   0.059
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1370.566
Skew:                          -0.905   Prob(JB):                    2.43e-298
Kurtosis:                       4.032   Cond. No.                         620.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Linear regression with only year and forest value

In [ ]:
#Linear Regression with year, country, value
dataset_x= df_forest_with_redlist[['Year','Value']];
dataset_y=df_forest_with_redlist['redlist']

x_train, x_test, y_train, y_test = train_test_split(dataset_x, dataset_y, test_size = 0.2)

lr = LinearRegression()
lr.fit(x_train, y_train)

y_pred = lr.predict(x_test)

print("MAe", metrics.mean_absolute_error(y_test,y_pred))
print("Mse", metrics.mean_squared_error(y_test,y_pred))
print("RMSE", np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

print('r2 value', metrics.r2_score(y_test,y_pred))

#Use statsmodel for model summary
x = sm.add_constant(dataset_x)
model = sm.OLS(dataset_y, dataset_x).fit()
predictions = model.predict(dataset_x)
print_model = model.summary()
print(print_model)

MAe 0.08214262866057953
Mse 0.010923091171099767
RMSE 0.10451359323599857
r2 value 0.009285713218123326
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                redlist   R-squared (uncentered):                   0.985
Model:                            OLS   Adj. R-squared (uncentered):              0.985
Method:                 Least Squares   F-statistic:                          2.569e+05
Date:                Sat, 29 Apr 2023   Prob (F-statistic):                        0.00
Time:                        18:22:57   Log-Likelihood:                          6431.4
No. Observations:                7578   AIC:                                 -1.286e+04
Df Residuals:                    7576   BIC:                                 -1.284e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Year           0.0004   6.05e-07    700.365      0.000       0.000       0.000
Value       1.262e-07   3.42e-08      3.691      0.000    5.92e-08    1.93e-07
==============================================================================
Omnibus:                      943.292   Durbin-Watson:                   0.059
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1404.226
Skew:                          -0.916   Prob(JB):                    1.19e-305
Kurtosis:                       4.045   Cond. No.                         18.1
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Support Vector Regressor

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVR

dataset_x= df_forest_with_redlist[['Year','Country','Value']];
dataset_y=df_forest_with_redlist['redlist']

x_train, x_test, y_train, y_test = train_test_split(dataset_x, dataset_y, test_size = 0.2)


#model
reg = make_pipeline(StandardScaler(), SVR(C=1.0, epsilon=0.1))
reg.fit(x_train, y_train)
y_pred=reg.predict(x_test)


print("MAe", metrics.mean_absolute_error(y_test, y_pred))
print("Mse", metrics.mean_squared_error(y_test, y_pred))
print("RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

#R-square value
print("R squared value:", metrics.r2_score(y_test, y_pred))

MAe 0.08092946144097135
Mse 0.010176513128629364
RMSE 0.10087870503049375
R squared value: 0.03737165455542679

# Random Forest Regressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor

dataset_x= df_forest_with_redlist[['Year','Country','Value']];
dataset_y=df_forest_with_redlist['redlist']

x_train, x_test, y_train, y_test = train_test_split(dataset_x, dataset_y, test_size = 0.2)

#model
randomf=  RandomForestRegressor(n_estimators = 1000, random_state=42)
randomf.fit(x_train, y_train)
y_pred= randomf.predict(x_test)

print("MAe", metrics.mean_absolute_error(y_test, y_pred))
print("Mse", metrics.mean_squared_error(y_test, y_pred))
print("RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

#R-square value
print("R squared value:", metrics.r2_score(y_test, y_pred))

MAe 0.0020243733509237513
Mse 3.8032061645117374e-05
RMSE 0.006167013997480254
R squared value: 0.9963783939370635

# Adaboost Regressor

In [ ]:
from sklearn.ensemble import AdaBoostRegressor

dataset_x= df_forest_with_redlist[['Year','Country','Value']];
dataset_y=df_forest_with_redlist['redlist']

x_train, x_test, y_train, y_test = train_test_split(dataset_x, dataset_y, test_size = 0.2)

#model
adab = AdaBoostRegressor(learning_rate=0.001, random_state=42, n_estimators=500)
adab.fit(x_train, y_train)
y_pred= adab.predict(x_test)

print("MAe", metrics.mean_absolute_error(y_test, y_pred))
print("Mse", metrics.mean_squared_error(y_test, y_pred))
print("RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

#R-square value
print("R squared value:", metrics.r2_score(y_test, y_pred))

MAe 0.07946666828399813
Mse 0.009636955037821348
RMSE 0.0981679939584249
R squared value: 0.08130981915385671